@charset "utf-8"
.MinhaPagina{
list-style:none;
margin-left: 20px; 
top: 0px;
margin-right:20px;
}
.MinhaPagina li{
position:relative; 
float:left; 
padding:5px 20px;

}
.MinhaPagina li a{color:#333; text-decoration:none;  }
 
.MinhaPagina li a:hover{
background:#FFFFFF;
color:#0000FF;
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 5px #fff; 
}
.MinhaPagina li  ul{
position:absolute; 
top:25px; 
left:0; 
display:none;
}   
.MinhaPagina li:hover ul, .MinhaPagina li.over ul{display: table-row;}
.MinhaPagina li ul li{
list-style:none;
display:inline;
width:280px;
}
